<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/Material-Icons.css}" href="../static/css/Material-Icons.css" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css">
    <link th:href="@{/css/material-dashboard.css}" href="../static/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <link th:href="@{/css/black-dashboard.css}" href="../static/css/black-dashboard.css" rel="stylesheet" />
    <style>
        div.absolute{
            position: absolute;
            top: 80px;
            right: 0;
            width: 950px;
            max-width: 950px;
            height: auto;
            display: inline-block;
        }
    </style>
</head>

<body class="dark-edition">
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black">

        <div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="3a8db1f4-24d8-4dbf-85c9-4f5215c1b29a">
            <ul class="nav">

                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/admin/ustanove/dodaj}">
                        <i class="material-icons">add</i>
                        <p>Dodaj ustanove</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/admin/ustanove/lista}">
                        <i class="material-icons">edit_user</i>
                        <p>Izmeni ustanove</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/admin/oglasi/lista}">
                        <i class="material-icons">edit_user</i>
                        <p>Izmeni oglase</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/admin/korisnici/lista}">
                        <i class="material-icons">person</i>
                        <p>Brisni korisnika</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/logout}" >
                        <i class="material-icons">logout</i>
                        <p>Izloguj se</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="absolute">
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-14">
                <div class="card ">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Brisni korisnika</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive ps">
                            <table class="table tablesorter table-hover" id="">
                                <thead class=" text-primary">
                                <tr><th>Ime</th>
                                    <th>Prezime</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                </tr></thead>
                                <tbody th:each="korisnik: ${korisnici}">
                                <tr><td th:text="${korisnik.ime}"></td>
                                    <td th:text="${korisnik.prezime}"></td>
                                    <td th:text="${korisnik.username}"></td>
                                    <td th:text="${korisnik.email}"></td>

                                    <td>
                                        <a th:href="${'/admin/korisnici/obrisi/'+korisnik.korisnikID}" type='button' rel='tooltip' title='' class='btn btn-danger btn-link btn-sm' data-original-title='Delete User'>
                                            <i class='material-icons'>close</i>
                                            <div class='ripple-container'></div>obrisi</a>
                                    </td></tr>
                                </tbody>
                            </table>
                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>

